<div class="container">
    <h1>Listar Filmes</h1>
    <div class="flex">
        <button (click)="onAdd()" class="btn btn-success my-1">Criar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Fornecedor</th>
                <th>Diretores</th>
                <th>Gênero</th>
                <th>Tipo do Produto</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of filmes">
                <td>{{f.name}}</td>
                <td>{{f.provider}}</td>
                <td>{{f.mainDirectors}}</td>
                <td>{{f.genre}}</td>
                <td>{{f.productType}}</td>
                <td>
                    <button (click)="onEdit(f.id)" class="btn btn-info mr-1">Editar</button>
                    <button (click)="openModalDelete(f.id)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p-confirmDialog header="Confirmation" [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-text" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast></p-toast>
</div>
 